<div class="container max-w-screen-md mx-auto px-4 py-8 space-y-4">

  <!-- Room URL Banner -->
  <div class="flex flex-col gap-4 items-center justify-center">
    <button z-button zType="outline" zSize="lg" class="px-4" (click)="copyRoomUrl()">
      <span class="sr-only">Copy URL</span>
      <ng-icon name="lucideLink" />
      {{ roomUrl }}
    </button>
    <qrcode [qrdata]="roomUrl" [width]="100" elementType="svg" class="border rounded-md overflow-hidden"></qrcode>
  </div>

  <!-- Message List -->
  <div class="overflow-y-auto space-y-4 scroll-smooth">
    @for (message of messages(); track $index) {
    <div class="flex flex-col gap-2">
      <div class="text-xs text-muted-foreground">
        {{ message.created_at | date:'shortTime' }}
      </div>
      <div class="flex items-center gap-2">
        <label class="text-sm">Display as:</label>
        <z-select [(ngModel)]="displayTypes()[message.id]" zSize="sm">
          <z-select-item zValue="text">Plain Text</z-select-item>
          <z-select-item zValue="code">Syntax Highlight</z-select-item>
        </z-select>
      </div>
      @if (displayTypes()[message.id] === 'code') {
      <div class="relative w-full rounded-md overflow-hidden cursor-pointer bg-gray-100 dark:bg-muted">
        <pre class="whitespace-pre-wrap"><code [highlightAuto]="message.content"></code></pre>
        <button (click)="copyMessage(message.content, $index)" aria-label="Copy message"
          class="absolute right-5 bottom-5">
          <ng-icon name="lucideCopy" />
        </button>
      </div>
      } @else {
      <button (click)="copyMessage(message.content, $index)" aria-label="Copy message"
        class="relative flex items-center gap-2 p-4 pr-10 bg-gray-100 dark:bg-muted w-full text-left rounded-md cursor-pointer">
        {{ message.content }}
        <ng-icon name="lucideCopy" class="absolute right-5 bottom-5" />
      </button>
      }
    </div>
    }

    @if (messages().length === 0) {
    <div class="flex-1 flex flex-col items-center justify-center gap-4 p-11 text-center">
      <p class="">No messages yet. Be the first to say something.</p>
    </div>
    }
  </div>

  <!-- Composer -->
  <div class="flex flex-col gap-2">
    <textarea z-input class="" [(ngModel)]="textInput"
      placeholder="Type a message… (Enter to send, Shift+Enter for newline)" rows="1"
      (keydown)="handleComposerKeydown($event)"></textarea>
    <button z-button zType="brand" (click)="newMessage()" class="self-end">
      Send
      <ng-icon name="lucideShare" />
    </button>
  </div>

</div>